<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Username Checker Module Output</title>
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<style>
  img{
    width: 100%;
  }
  .col-md-6{
    margin-top: 1.5rem;
  }
  h1{
    text-align: center;
    margin-top: 1rem;
  }
  th, td {
    border: 1px solid;
}
th {
    font-weight : bold
}
#testing {
  font-family:"Helvetica", sans-serif;
  font-size:17px;
  background: #3e3e3e;
  color: #ffffff;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  top: 40px;
  padding: 20px;
  text-align: center;
  border-top: 3px solid #ababab;
  border-bottom: 3px solid #ababab;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
}
 
</style>
</head>
<body>
  <div class="container">
    <h1>Results</h1>
    <div class="row">
    <!-- <input type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" /> -->
    <div id="testing">
      <script>
        let raw = "<%= data %>";
        raw = raw.replaceAll('{','');
        raw = raw.replaceAll('}','');
        raw = raw.replaceAll("https://", "");
        raw = raw.split(',');
        for (i = 0; i < raw.length; i++) {
        var urls = raw[i].split(':');
        urls[1] =urls[1].replaceAll('/"','');
    document.getElementById("testing").innerHTML += "<p> <span style='color:red;'>" + urls[0] + "</span> : " + " <span style='color:green;'>" + urls[1] + " </span>" + "</p>";
}
      </script>

      <p style="color:red;"></p></div>
    
    <!-- need works= -->
      <!-- <div class="col-md-12">
        <center><img src="/twitter/twitter-hashtag_<%=data%>.png" alt="hashtags" class="img-responsive" style="width:70%"></center>
      </div> -->
      
     

    </div>
    <a type="button" class="btn btn-info" href="/">
      Back
    </a>
    <a type="button" class="btn btn-success" href="/userpresent.json" download>
      Download file
    </a>
  </div>
</body>
</html>
