<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TiGMint</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="/css/contact.css" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/img/favicon2.png" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Css Files -->
    <link rel="stylesheet" href="/css/backgrounds.css" />
    <link rel="stylesheet" href="/css/bootstrap-style.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/preloader.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif; -->

    <!-- JS Files Imported here -->
    <script type="text/javascript" src="/js/nav.js"></script>
  </head>

  <body onload="wait()">
    <!-- HEADER -->
    <header>
      <div class="topnav" id="myTopnav">
        <img
          onclick="location.href='/'"
          class="logo-top"
          src="/img/tigmint_logo.png"
        />
        <a href="/">Get Started</a>
        <a href="/documentation">Documentation</a>
        <a href="/contact" class="active">Contact Us</a>
        <a href="javascript:void(0);" class="icon" onclick="navRes()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>
    <!-- HEADER ends here -->

    <section
      class="speakers-section"
      style="background-image: url(https://i.ibb.co/92HJxz2/team-bg.jpg);"
    >
      <div class="parallax-scene parallax-scene-2 anim-icons">
        <span
          data-depth="0.40"
          class="parallax-layer icon icon-circle-5"
        ></span>
        <span
          data-depth="0.99"
          class="parallax-layer icon icon-circle-5"
        ></span>
      </div>

      <div style="z-index: -1000;" class="container">
        <div class="sec-title light text-center">
          <h2>Our Team</h2>
          <span class="title"
            >This team of 9 amazing people worked together through ups and downs to deliver a product that we're really proud of. Feel free to contact any of them to get more insights regarding TIGMINT. Happy Searching!</span>
        </div>

        <div class="row">
          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/9.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.linkedin.com/in/kaustubh-sharma/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="https://github.com/kaustubhsh"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.instagram.com/_kaustubhsh/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="kaustubhsharma97@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://twitter.com/kaustubhsh_"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Kaustubh</h4>
                <span class="designation"
                  >Contribution: Integration & Backend</span
                >
              </div>
            </div>
          </div>

          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/3.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a target="_blank" href="https://linkedin.com/in/yajas-sardana"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://github.com/Yajassardana"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="yajassardana@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Yajas Sardana</h4>
                <span class="designation"
                  >Contribution: Integration & Backend</span
                >
              </div>
            </div>
          </div>
          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/6.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.linkedin.com/in/sumit-sah-4b577714a/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="https://github.com/Sumit-sah"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="sumitsah18@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Sumit Sah</h4>
                <span class="designation">Contribution: Backend</span>
              </div>
            </div>
          </div>
           
          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/1.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.linkedin.com/in/sakshi-jangra-37755b17b"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="https://github.com/Sakshi-25"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.instagram.com/sakshi_25k/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="sakshijangra111000@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="https://twitter.com/Sakshi2517"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Sakshi Jangra</h4>
                <span class="designation"
                  >Contribution: Web Design & Development</span
                >
              </div>
            </div>
          </div>
          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/4.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.linkedin.com/in/pawansohlot"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="https://github.com/pawansohlot"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://instagram.com/chaudharypawansohlot "
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="cyberprofessionalpawan@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://twitter.com/pawansohlot "
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Pawan Chaudhary</h4>
                <span class="designation">Contribution: Backend</span>
              </div>
            </div>
          </div>

         

          



          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/5.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a
                          target="_blank"
                          href="https://in.linkedin.com/in/kiranbabumuddam"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://github.com/kiranbabumuddam/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.instagram.com/kiranbabu_muddam/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="kiraniiitn@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://twitter.com/kiranbabumuddam"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Kiran Babu Muddam</h4>
                <span class="designation">Contribution: Backend</span>
              </div>
            </div>
          </div>
          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/2.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.linkedin.com/in/pawnikhurana"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.instagram.com/pawnikhurana/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="pawnikhurana01@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Pawni Khurana</h4>
                <span class="designation"
                  >Contribution: Documentation, Certification and Report.</span
                >
              </div>
            </div>
          </div>

          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/8.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a
                          target="_blank"
                          href=" https://www.linkedin.com/in/nisarg-shah-b177b516b/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="https://github.com/niSarg1910"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.instagram.com/nisarg1910/"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="shahnisharg1910@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Nisarg Shah</h4>
                <span class="designation">Contribution: Backend</span>
              </div>
            </div>
          </div>

          <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <img src="/img/avatar/10.jpg" alt="" />
                  <div class="social-links">
                    <ul>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf08c;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://github.com/Rishabh-2802  "
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf09b;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.instagram.com/rishabh.sharma.__?r=nametag"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf16d;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="rishabhsharmafeb2005@gmail.com"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf0d5;</i
                          ></a
                        >
                      </li>
                      <li>
                        <a target="_blank" href="#"
                          ><i style="font-size: 24px;" class="fa"
                            >&#xf099;</i
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="caption-box">
                <h4 class="name">Rishabh Sharma</h4>
                <span class="designation"
                  >Contribution: Documentation & Backend</span
                >
              </div>
            </div>
          </div>

          
          <!-- contacts ends -->
        </div>
      </div>
    </section>
    <!-- Footer here -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <img src="/img/footer-logo.png" />
        <p class="footer-links">
          <!-- <a href="./documentation.html" class="link-1">Documentation</a> -->
          <a href="/contact">Contact Us</a>
        </p>
        <p>TiGMint © 2020</p>
      </div>

      <div class="footer-center">
        <h1>MADE in INDIA</h1>
        <hr />
        <p>
          This Website is made under the Gurugram Police Cyber Security
          Internship.
        </p>
        <hr />
        Stay Safe! Stay Secure!
      </div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>About TIGMINT</span>
          Twitter, Instagram, GeoTagging Media Intelligence
        </p>

        <div class="footer-icons">
          <a target="_blank" href="/contact"
            ><i class="fa fa-group"></i
          ></a>
          <a target="_blank" href="https://github.com/Yajassardana/TIGMINT"
            ><i class="fa fa-github"></i
          ></a>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="waiting" class="loader-wrapper">
      <!-- Loading square for squar.red network -->
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
      var preloader = document.getElementById('waiting');
      function wait() {
        setTimeout(function () {
          preloader.style.display = 'none';
        }, 200);
      }
    </script>
  </body>
</html>
