<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Similar Hashtags Output</title>
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<style>
  img{
    width: 100%;
  }
  .col-md-6{
    margin-top: 1.5rem;
  }
  h1{
    text-align: center;
    margin-top: 1rem;
  }
 
</style>
</head>
<body>
  <div class="container">
    <h1>Results</h1>
    <div class="row">
      
      <div class="col-md-12">
        <center><img src="/twitter/twitter-hashtag_<%=data%>.png" alt="hashtags" class="img-responsive" style="width:70%"></center>
      </div>
    </div>
    <a type="button" class="btn btn-info" href="/">
      Back
    </a>
    <a type="button" class="btn btn-success" href="/twitter/twitter-hashtag_<%=data%>-tweets.csv" download>
      Download Tweets
    </a>
  </div>
</body>
</html>