<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIGMINT</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/img/favicon2.png" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <!-- Css Files -->
    <link rel="stylesheet" href="/css/backgrounds.css" />
    <link rel="stylesheet" href="/css/bootstrap-style.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/preloader.css" />
    <link rel="stylesheet" href="/css/button-style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <style>
      #insta{
        width: 50%;
        margin: auto;
      }
      .options{
        display: flex;
        justify-content:space-between;
      }
     
    </style>
    <!-- font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif; -->

    <!-- JS Files Imported here -->
    <script type="text/javascript" src="/js/nav.js"></script>
  </head>
  <script>
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <body onload="wait()">
    <!-- HEADER -->
    <header>
      <div class="topnav" id="myTopnav">
        <img
          onclick="location.href='/'"
          class="logo-top"
          src="/img/tigmint_logo.png"
        />
        <a href="/" class="active">Get Started</a>
        <a href="/documentation">Documentation</a>
        <a href="/contact">Contact Us</a>
        <a href="javascript:void(0);" class="icon" onclick="navRes()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>
    <!-- HEADER ends here -->

    <main class="main">
      <div class="flex-container">
        <div>
          <img
            src="/img/osint-working.png"
            style="width: 100%; background-color: #ededed;"
          />
        </div>
        <!--  topic  -->
        <div style="align-items: left; left: 0; margin-top: -50%;">
          <h1>
            TIGMINT
          </h1>

          <p class="full-form">
            Twitter, Instagram and Geo-Tagging Media Intelligence
            <br />
          </p>
        </div>
      </div>

 
    </main>

    <!------------------ MAIN SECTION  --------------- SEARCH BARS -------------- HERE------------ -->
    <div class="jumbotron text-center">
      <div class="container">
        <h1>Module Selector</h1>
        <p style="color: #888;">
          Choose a module, input desired fields & get your
          results.
        </p>
      </div>
    </div>


    <div class="options">
      <div id="btnClick1" class="col-md-3 col-sm-3 col-xs-6">
        <a href="/twitteranalysis" class="btn btn-sm animated-button thar-one">Twitter Analyser</a>
      </div>
      <div id="btnClick2" class="col-md-3 col-sm-3 col-xs-6">
        <a href="/geotagging"class="btn btn-sm animated-button thar-two">Geotagging Tweets</a>
      </div>
      <div id="btnClick3" class="col-md-3 col-sm-3 col-xs-6">
        <a href="/instagram" class="btn btn-sm animated-button thar-three">Instagram Module</a>
      </div>
    </div>

    <!-- ------------------- OUTPUT manipulation jQuery & JavaScript ------------------- -->
    <script>
      $('#btnClick1').on('click', function () {
        if (
          $('#0').css('display') != 'none' ||
          $('#2').css('display') != 'none' ||
          $('#3').css('display') != 'none' ||
          $('#4').css('display') != 'none'
        ) {
          $('#1').show().siblings('div').hide();
        } else if ($('#1').css('display') != 'none') {
          $('#0').show().siblings('div').hide();
        }
      });

      $('#btnClick2').on('click', function () {
        if (
          $('#0').css('display') != 'none' ||
          $('#1').css('display') != 'none' ||
          $('#3').css('display') != 'none' ||
          $('#4').css('display') != 'none'
        ) {
          $('#2').show().siblings('div').hide();
        } else if ($('#2').css('display') != 'none') {
          $('#0').show().siblings('div').hide();
        }
      });

      $('#btnClick3').on('click', function () {
        if (
          $('#0').css('display') != 'none' ||
          $('#1').css('display') != 'none' ||
          $('#2').css('display') != 'none' ||
          $('#4').css('display') != 'none'
        ) {
          $('#3').show().siblings('div').hide();
        } else if ($('#3').css('display') != 'none') {
          $('#0').show().siblings('div').hide();
        }
      });

      $('#btnClick4').on('click', function () {
        if (
          $('#0').css('display') != 'none' ||
          $('#1').css('display') != 'none' ||
          $('#2').css('display') != 'none' ||
          $('#3').css('display') != 'none'
        ) {
          $('#4').show().siblings('div').hide();
        } else if ($('#4').css('display') != 'none') {
          $('#0').show().siblings('div').hide();
        }
      });
    </script>
    <!--  --------------------------------- Footer here  ----------------------------------      -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <img src="/img/footer-logo.png" />
        <p class="footer-links">
          <!-- <a href="./documentation.html" class="link-1">Documentation</a> -->
          <a href="/contact">Contact Us</a>
        </p>
        <p>TiGMint © 2020</p>
      </div>

      <div class="footer-center">
        <h1>MADE in INDIA</h1>
        <hr />
        <p>
          This Website is made under the Gurugram Police Cyber Security
          Internship.
        </p>
        <hr />
        Stay Safe! Stay Secure!
      </div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>About TIGMINT</span>
          Twitter, Instagram, GeoTagging Media Intelligence
        </p>

        <div class="footer-icons">
          <a target="_blank" href="/contact"
            ><i class="fa fa-group"></i
          ></a>
          <a target="_blank" href="https://github.com/Yajassardana/TIGMINT"
            ><i class="fa fa-github"></i
          ></a>
        </div>
      </div>
    </footer>

    <div id="waiting" class="loader-wrapper">
      <!-- Loading square for squar.red network -->
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
      var preloader = document.getElementById('waiting');
      function wait() {
        setTimeout(function () {
          preloader.style.display = 'none';
        }, 2000);
      }
    </script>
  </body>
</html>
