<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TiGMint</title>
</head>
<body>
  <h3><%=data.full_name%></h3>
  <h3><%=data.total_posts%></h3>
  <h3>FUCKKKKKKKKKK</h3>
</body>
</html>