<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoTagging</title>
  <link rel="icon" type="image/png" href="/img/favicon2.png" />
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
</head>
<body>
  <form action="/geotaaging" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="lattitude" placeholder="lattitude">
    </div>
      <div class="form-group">
        <div class="form-group">
          <input class="form-control" type="text" name="longitude" placeholder="longitude">
        </div>
          <div class="form-group">
        <button class="btn btn-md btn-block btn-primary">Search</button>
        </div>
  </form>
</body>
</html>