<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoTagging</title>
  <link rel="icon" type="image/png" href="/img/favicon2.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'Amz9eGIXBzmU92mkCzvY04luh-FWerQ_qw3uLeuJFnZz_S3xhD9xBHe8CR_EoUBp'});
        
        Microsoft.Maps.Events.addHandler(map, 'click', bingMapOnClick);
        
        //Request the user's location
        function bingMapOnClick(e) {

    if (e.targetType == "map") {

        //Get map unit x,y
        var point = new Microsoft.Maps.Point(e.getX(), e.getY());

        //Convert map point to location
        var location = e.target.tryPixelToLocation(point);
      
        //Print x y
        console.log(location.longitude);
        console.log(location.latitude);
        document.querySelector('.coordinates').textContent = location.latitude + ", "+ location.longitude;
        document.querySelector('#latid').value = location.latitude;
        document.querySelector('#longid').value = location.longitude;

        map.entities.clear(pin);

        infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
            visible: false
        });
        infobox.setMap(null)
        infobox.setMap(map);
        var pin = new Microsoft.Maps.Pushpin(location);
        map.entities.push(pin);

    }

}
    }
    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
  <style>
    .container {
      text-align: center;
      width: fit-content;
      max-width: fit-content;
      margin-top: 5%;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: fit-content;
      align-items: center;
      padding: 5%;
    }

    form {
      margin-top: 7%;
    }
    .coordinates{
            border: cadetblue solid 1px;
            font-size: 1.5rem;
            text-align: center;
        }
        .container_1{
            width: 35%;
            margin: auto;
        }
  </style>
</head>

<body>
  <div class="container_1">
    <div id="myMap" style="position:relative;width:100%;height:250px;"></div>
    <div class="coordinates">Click on the map to get location coordinates</div>
</div>
  <div class="container">
    <h3>Enter Lattitude , longitude and the Radius(in KM) to search</h3>
    <form action="/geotagging" method="post">
      <div class="form-group">
        <input class="form-control" id="latid" type="text" name="lattitude" placeholder="lattitude">
      </div>
      <div class="form-group">
        <div class="form-group">
          <input class="form-control" id = "longid" type="text" name="longitude" placeholder="longitude">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="radius" placeholder="radius in KM">
        </div>
        <div class="form-group">
          <button class="btn btn-md btn-block btn-primary">Search</button>
        </div>
    </form>
  </div>

</body>

</html>